@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body{
    overflow-x: hidden;
}

.background{
    position: absolute;
    z-index: -1;
    height: 80vh;
    width: 100%;
    background-color: #013757;
}

.background::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url('../img/fundo4.jpg');
    background-position: bottom;
    background-size: cover;
    clip-path: polygon(8% 8%, 74% 8%, 74% 100%, 8% 100%);
}

nav{
    width: 100%;
    height: 20vh;
    padding: 0 10%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    position: relative;
    z-index: 1;
}

nav p{
    font-size: 1.2rem;
    line-height: 80%;
    font-weight: 600;
    color: #fff;
}

main{
    height: 80vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0 15%;
    flex-direction: column;
    gap: 15px;
    position: relative;
    z-index: 2;
    top: -20vh;
    right: inherit;
}

main h4{
    text-align: left;
    width: 30%;
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 3px;
    color: #fff;
}

main h1{
    text-align: left;
    width: 30%;
    font-size: 4.4rem;
    font-weight: 600;
    line-height: 90%;
    font-family: "Playfair Display", serif;
    color: #fff;
}

main div{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

main div hr{
    background-color: #fff;
    height: 15px;
    width: 45%;
}

main div p{
    font-size: 1.2rem;
    font-family: "Playfair Display", serif;
    font-weight: 300;
    width: 50%;
}

main p{
    font-size: 0.8rem;
    width: 45%;
    font-weight: 400;
    color: #fff;
}

.section1{
    height: 100vh;
    width: 100%;
    margin-top: -20vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #fbfbfb;
}

.section1 h1{
    font-size: 4rem;
    font-family: "Playfair Display", serif;
    font-weight: 200;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00121d;
}

.all{
    display: flex;
    width: 100%;
    height: 80%;
    padding: 0 10%;
    gap: 20px;
}

.movie__texts{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}

.movie__texts p{
    text-align: right;
    width: 90%;
    color: #00121d;
}

.movie__texts hr{
    width: 60%;
    height: 3px;
    background-color: #013757;
    border-color: #013757;
}

.movie__texts h4{
    text-align: right;
    font-weight: 300;
    line-height: 100%;
    font-size: 0.9rem;
    color: #00121d;
}

.movie__img{
    width: 40%;
    height: 100%;

}

.movie__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .2s ease-in-out, all .2s ease-in-out;
}

.movie__img img:hover{
    filter: contrast(150%);
    transform: scale(1.02) skew(-1deg);
}

.dados{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    background-color: #fbfbfb;
    justify-content: center;
}

.dados p {
    font-size: 1em;
    text-align: center;
    line-height: 120%;
    font-weight: 300;
    color: #00121d;
}

.dados p b{
    font-weight: 500;
    color: #00121d;
}

.section__cards{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
    background-color: #fbfbfb;
}

.cards{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__1:hover{
    transform: scale(1.05) skew(-2deg)!important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.card__2:hover{
    transform: scale(1.1)!important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.card__3:hover{
    transform: scale(1.05) skew(2deg)!important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}



.card__1{
    width: 30%;
    height: 100%;
    padding: 25px;
    background-image: url('../img/menino.png');
    background-position: center;
    background-size: cover;
    transition: transform .1s ease-in-out;
}

.card__1 p{
    font-size: 1.2rem;
    font-weight: 600;
    width: 70%;
    display: inline-block;
    justify-content: center;
    display: flex;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
}

.card__2{
    width: 30%;
    height: 100%;
    padding: 25px;
    background-image: url('../img/escada.png');
    background-position: center;
    background-size: cover;
}

.card__3{
    width: 30%;
    height: 100%;
    padding: 25px;
    background-image: url('../img/menina.png');
    background-position: center;
    background-size: cover;
}

.card__3 p{
    font-size: 1.2rem;
    font-weight: 600;
    position: relative;
    float: right;
    width: 70%;
    justify-content: center;
    display: flex;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
}

.final{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 20vh;
    justify-content: center;
}

.final h2{
    font-size: 3rem;
    font-family: "Playfair Display", serif;
    font-weight: 200;
    color: #00121d;
}

.final p{
    font-size: 0.8rem;
    color: #00121d;
    opacity: 0.8;
}

.final p a{
    color: #013757;
    text-decoration: none;

}

/* animações */

/* Estilo base para animações */
.animate {
    opacity: 0;
    transition: all 0.5s ease-out;
  
  }
  
  /* Desliza para a esquerda */
  .animate-left {
    transform: translateX(-100%);
  }
  
  /* Desliza para a direita */
  .animate-right {
    transform: translateX(100%);
  }
  
  /* Animação de fade-in */
  .animate-fade-in {
    transform: scale(0.5);
  }
  
  /* Animação de deslizar para cima */
  .animate-up {
    transform: translateY(100%);
  }
  
  /* Animação de deslizar para baixo */
  .animate-down {
    transform: translateY(-100%);
  }
  
  /* Animação de zoom-in */
  .animate-zoom-in {
    transform: scale(0.8);
  }
  
  /* Animação de rotação */
  .animate-rotate {
    transform: rotate(-45deg);
  }
  
  /* Animação de desvanecimento e deslize para cima */
  .animate-fade-up {
    opacity: 0;
    transform: translateY(50%);
  }
  
  /* Animação de escala e rotação */
  .animate-scale-rotate {
    transform: scale(0.9) rotate(10deg);
  }
  
  /* Animação de pular (bounce) */
  .animate-bounce {
    transform: translateY(0);
  }
  
  /* Aplicar animação ao entrar na tela */
  .animate.in-view {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
  
  /* Aplicar animação de deslizar para cima */
  .animate-up.in-view {
    transform: translateY(0);
  }
  
  /* Aplicar animação de deslizar para baixo */
  .animate-down.in-view {
    transform: translateY(0);
  }
  
  /* Aplicar animação de zoom-in */
  .animate-zoom-in.in-view {
    transform: scale(1);
  }
  
  /* Aplicar animação de rotação */
  .animate-rotate.in-view {
    transform: rotate(0);
  }
  
  /* Aplicar animação de desvanecimento e deslize para cima */
  .animate-fade-up.in-view {
    opacity: 1;
    transform: translateY(0);
  }
  
  /* Aplicar animação de escala e rotação */
  .animate-scale-rotate.in-view {
    transform: scale(1) rotate(0);
  }
  
  /* Aplicar animação de pular (bounce) */
  .animate-bounce.in-view {
    animation: bounce 1s ease;
  }
  
  /* Keyframes para a animação de pular (bounce) */
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  
    
  /* Detecta iPhone/iOS e redefine as animações */
  @supports (-webkit-touch-callout: none) {
    
    /* Desativa as animações */
    .animate,
    .animate-left,
    .animate-right,
    .animate-fade-in,
    .animate-up,
    .animate-down,
    .animate-zoom-in,
    .animate-rotate,
    .animate-fade-up,
    .animate-scale-rotate,
    .animate-bounce {
      opacity: 1 !important;
      transform: none !important;
      transition: none !important;
      animation: none !important;
    }
  
    /* Remove as animações ao entrar na tela */
    .animate.in-view,
    .animate-left.in-view,
    .animate-right.in-view,
    .animate-fade-in.in-view,
    .animate-up.in-view,
    .animate-down.in-view,
    .animate-zoom-in.in-view,
    .animate-rotate.in-view,
    .animate-fade-up.in-view,
    .animate-scale-rotate.in-view,
    .animate-bounce.in-view {
      opacity: 1 !important;
      transform: none !important;
      animation: none !important;
    }
  }